@font-face {
  font-family: Pixelar;
  src: url('../public/Pixelar-Regular-W01-Regular.ttf');
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Pixelar;
  color: white;
}

body{
  background-color: #111823;
}